





/*=========header===========*/






/*================HERO==================*/


/*==============SECTION1=============*/



.list-feature{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    gap: 24px;

}
.feature-item{
    width: calc((100% - 72px) / 4);
}
.feature-title{
    margin-bottom: 8px;
}

/*==============PORTFOLIO===============*/




/*footer*/




